.response {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
}

.response-peg {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 2px solid black;
}

.red {
  background-color: red;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}
