html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.mastermind-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
}

a {
  color: white;
  font-size: 0.5em;
}

.play {
  font-size: 1.5em;
  margin-top: 3em;
}

.grey {
  background-color: grey;
}

button {
  padding: 0.25em;
  margin: 0.25em;
  border: 2px solid black;
  border-radius: 5%;
}
